## Обучение модели перцептрона

In [118]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing 
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Perceptron

In [119]:
data_pd = pd.read_csv('/Users/newlife/Desktop/train_parceptron.csv',header=None)
data_pd[:10]

     0         1            2
0 -1.0 -0.024626  1174.600238
1  1.0 -0.978058  1083.198803
2 -1.0  0.314272 -1472.977609
3 -1.0  0.179752   231.017267
4  1.0 -1.262544  -778.271726
5 -1.0  0.249970   -52.801483
6  1.0 -1.870397  -324.235348
7  1.0  0.020419   -64.744951
8  1.0  0.065806  -421.684101
9  1.0 -0.638902  -405.843375

In [120]:
#X_train = np.array(data_pd[range(2,4)])
#y_train = np.array(data_pd[1])

In [122]:
X_train = data_pd[data_pd.columns[1:3]]
y_train = data_pd[data_pd.columns[0]]

0   -1.0
1    1.0
2   -1.0
3   -1.0
4    1.0
Name: 0, dtype: float64

In [123]:
data_pd2 = pd.read_csv('/Users/newlife/Desktop/test_parceptron.csv',header=None)
data_pd2[:10]

     0         1            2
0 -1.0  1.651437  1337.453826
1  1.0 -0.866495  1191.232457
2 -1.0  0.789828  -475.647768
3 -1.0  0.179549  1959.095353
4  1.0 -0.434351   568.504207
5  1.0 -1.506295   929.584470
6  1.0 -1.253881  -448.391638
7  1.0 -0.393311 -1109.230943
8  1.0  0.474347  -149.290942
9  1.0 -0.882829 -1793.888921

In [125]:
#X_test = np.array(data_pd2[range(2,4)])
#y_test = np.array(data_pd2[1])
X_test = data_pd2[data_pd.columns[1:3]]
y_test = data_pd2[data_pd.columns[0]]

          1            2
0  1.651437  1337.453826
1 -0.866495  1191.232457
2  0.789828  -475.647768
3  0.179549  1959.095353
4 -0.434351   568.504207

### Обучение без нормализации признаков

In [131]:
clf = Perceptron(random_state=241, tol = None)
clf.fit(X_train,y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=241, shuffle=True, tol=None,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [132]:
y_pred = clf.predict(X_test)
score1 = accuracy_score(y_test, y_pred)
score1

0.685

### Обучение с нормализацией признаков

In [134]:
scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train)
X_test_scale =  scaler.transform(X_test)


clf.fit(X_train_scale,y_train)

y_pred2 = clf.predict(X_test_scale)
score2 = accuracy_score(y_test, clf.predict(X_test_scale))
print(score2)
print(score2-score1)

0.89
0.20499999999999996